<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">

<head>
  <link rel="stylesheet" href="head.css" moveto="tail" id="-1">
  <link rel="stylesheet" href="head.css" moveto="head" id="0">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

  <title></title>
  <script type="text/javascript" src="../static/a.js" stc-inline></script>
  <script type="text/javascript" src="../static/b.js" inline></script>
  <script>

  </script>
  <style type="text/css">
    li {
      border: 1px solid #f00;
      display: inline-block;
      width: 50px;
      height: 30px;
      vertical-align: top;
    }
  </style>
  <style type="text/css"></style>
  <link rel="stylesheet" href="../static/b.css" inline>
</head>
<body class="a1111111111111111111111111111111">


<script src="fffffffffffffffffffffffffffffff" moveto="head" id="1"></script>
<script src="fffffffffffffffffffffffffffffff" moveTo="head" id="2"></script>
<script src="ggggggggggggggggggggggggggggggg" moveto="head" id="3"></script>
<script src="fffffffffffffffffffffffffffffff" moveto="head" id="4"></script>
<script src="hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh" moveto="head" id="5"></script>
<script src="iiiiiiiiiiiiiiiiiiiiiiiiiiiiiii" moveto="head" id="6"></script>


<script stc-moveto="head" id="7"> alert(111) </script>
<script stc-moveto="tail" id="8"> alert(222) </script>
<style moveto="head" id="9"></style>
<link rel="stylesheet" href="tttt.css" moveto="head" id="10">
<style moveTo="tail" id="12">
  body {
    width: 100px
  }
</style>


<IMG SRC="../static/pic.jpg"/>
<IMG src="https://img.alicdn.com/tps/TB13RktNpXXXXc9XXXXXXXXXXXX-785-305.jpg_Q90.jpg_.webp"/>
<ul>
  <li>aaa</li>
  <li>
  <li>
  <li>
  <li>
  <li>
  <li>
  <li>
</ul>
</body>
</html>


